<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GD_StampingMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GD_StampingMachine.Properties.Settings>
            <setting name="DefaultCulture" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="IsBrightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedProjectDistributeName" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Alpha 23.4.24</value>
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value>Copyright © 2022 GUANDA</value>
            </setting>
            <setting name="ConnectOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </GD_StampingMachine.Properties.Settings>
    </userSettings>
</configuration>